@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Crimson Text', serif;
  color: #505962
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #c0c0c0;
}

.nav-share {
  float: right;
  margin-right: 1em;
}



/*--- Landing Page --*/

.home-inner {
  background-image: url(img/aws-www-entrynobuttons.png);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 70%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  padding-left: 10%
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: .8rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

h4 {
  padding-top: 2.3rem!important;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  padding-top: .5rem;
}

i {
  font-size: 1rem;
  padding-left: 5px;
}

/* .blockquote {
  font-family: 'Open Sans', sans-serif;
} */

blockquote {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-fon-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

blockquote p {
    font-size: 1rem !important;
}


blockquote footer {
  font-style: italic;
  padding-left: 10px;
}


.btn-lg {
  border-width: medium;
  border-radius: .5rem;
  padding: .6rem 1.3rem;
  font-size: 1.8rem;
}


.btn-primary {
    background: #1c8940;
    color: #ffffff;
    border-color: #1c8940;
    margin:5px 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #009966;
    border-color: #1c8940;
}

.chapter-section {
  display: table;
  width: 100%;
  height: 50vh;
  padding: 10vh 0 0 0;
  color: white;
}

/* responsively apply fixed position */
@media (min-width: 576px){
    #left {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #right {
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
    }
}


.book {
  padding-top: 20vh;
}

.link {
  color: black;
}

.left-img {
  padding-top: 2.3rem!important;
  max-height: 60vh;
}

.left-double-img {
  padding-top: 2.3rem!important;
  max-height: 30vh;
  margin: 10px;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
